
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>
        HSC:
            <ul>
                <li>
                    Institute: New Govt. Degree College, Rajshahi
                </li>
                <li>
                    Year: 2018
                </li>
                <li>
                    Group: Science
                </li>
                <li>
                    Result: GPA 5.00
                </li>
            </ul>
    </li>
    <li>
        SSC:
        <ul>
            <li>
                Institute: Seroil Govt. High School, Rajshahi
            </li>
            <li>
                Year: 2016
            </li>
            <li>
                Group: Science
            </li>
            <li>
                Result: GPA 5.00
            </li>
        </ul>
    </li>
</ul>

