
@{
    ViewBag.Title = "Home";
}

<h1>Welcome to my Portfolio Home Page</h1>

<main>
    <nav>
        <ul>
            <li><a href="@Url.Action("Home", "Portfolio")">Home</a></li>
            <li><a href="@Url.Action("Personal", "Portfolio")">Personal Info</a></li>
            <li><a href="@Url.Action("Education", "Portfolio")">Education</a></li>
            <li><a href="@Url.Action("Projects", "Portfolio")">Projects</a></li>
            <li><a href="#reference">Reference</a></li>
        </ul>
    </nav>
</main>
