
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Information</h2>
<p> Name       : MD. Eshmam Rayed </p>
<p> ID         : 20-43044-1</p>
<p> Email      : eshmamrayed99@gmail.com</p>
<p> Contact No : 01712345678</p>

