
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<table style="width:80%" class="table-bordered">
    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Introduction to Programming Language</td>
        <td>Tic-Tac-Toe Game</td>
        <td>Basic Tic-Tac-Toe game with OOP.</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Army Management System</td>
        <td>A rank wise army officers daily duty management system.</td>
    </tr>
    <tr>
        <td>Introduction to Database</td>
        <td>Cricket Club Management System</td>
        <td>A simple database management system for managing a cricket club in a university.</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>AIUB Book Store Management System</td>
        <td>A desktop-based application for managing and selling books at the AIUB bookstore.</td>
    </tr>
    <tr>
        <td>Web Technologies</td>
        <td>All in All Home Service</td>
        <td>A home service provider system mainly for bachelor students</td>
    </tr>
</table>
