
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<ol start="1">
    <li>
        <p>Name     : Tanvir Ahmed</p>
        <p>Phone No : 01710987531</p>
        <p>Email    : Tanvir.ahmed@aiub.edu</p>
    </li>
</ol>
<ol start="2">
    <li>
        <p>Name     : Nazia Alfaz</p>
        <p>Phone No : 01710956782</p>
        <p>Email    : nazia.alfaz@aiub.edu</p>
    </li>
</ol>
